h2 {
	text-align: center;
}

.cargaProducto {
	background-color: rgb(203, 199, 199);
	min-width: 90vh;
	min-height: 45vh;
	margin: 2vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 3vh;
}

.form-group {
	width: 100%;
	margin: 4vh;
	display: flex;
	justify-content: center;
}

.form-item {
	display: inline-block;
	margin-left: 1vh;
	margin-right: 1vh;
	flex: 1 1 30%;
}

.container-envio {
	display: flex;
	justify-content: center;
}
  
input {
	font-size: 2vh;
}

.container-botones {
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
}

.botones {
	width: 15vh;
	display: inline-block;
	margin: 2vh;
}  

.boton {
	background-color: rgb(50, 216, 50);
	color: white;
	font-size: 2vh;
	margin: auto;
	width: 100%;
}


  /* Media Queries para hacerlo responsive */
@media (max-width: 768px) {
	.cargaProducto {
	  min-height: auto;
	}

	.form-group {
	  flex-direction: column;
	}

	.form-item {
	  flex: 1 1 100%;
	}
}