.tit {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20vh;
	margin-bottom: 5vh;
}

.parra,
h2 {
	text-align: center;
}

.formulario-registro {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
	margin-right: 2vh;
}

form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: auto;
	height: 50vh;
	width: 85vh;
	width: calc(85vh - 2vh);
	text-align: left;
}

.form-group {
	display: flex;
	align-items: center;
	flex-basis: 50%;
	max-width: 50%;
	margin-bottom: 1rem;
}

.form-group label {
	flex-basis: 40%;
	max-width: 40%;
	padding-right: 1rem;
	text-align: right;
}

.form-group input {
	flex-basis: 50%;
	max-width: 60%;
}

button {
	flex-basis: 100%;
	max-width: 90%;
	margin-top: 1rem;
	background-color: rgb(50, 216, 50);
	margin-left: 6vh;
	font-size: 2vh;
	letter-spacing: 0.4vh;
	font-weight: bold;
}
