<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/productos-stock.css">
	<title>Productos y Stock</title>
</head>
<body>
	<h1>Productos y Stock</h1>
	<ul>
		{% for nombre_producto, stock in consulta %}
			{% if loop.index is divisibleby 2 %}
				<li class="fila-par">
			{% else %}
				<li class="fila-impar">
			{% endif %}

			<span class="producto">{{ nombre_producto }}</span>
			<span class="stock">{{ stock }}</span>
				</li>

		{% endfor %}
	</ul>

	  
</body>
</html>